env
**/__pycache__
**/__pycache__/*.pyc
**/*.sqlite3
**/node_modules

# django file uploads directory
backend/bandshareApi/uploads/**

# testing
**/coverage

# production
frontend/bandshare/build

# misc
frontend/bandshare/.DS_Store
frontend/bandshare/.env.local
frontend/bandshare/.env.development.local
frontend/bandshare/.env.test.local
frontend/bandshare/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
