#nowPlaying{
	margin-bottom:24px;
}

#space{
	margin-left:30px;
	margin-right:30px;
}
#spacer{
	margin-right:30px;
}

#waveform{
	padding:0;
}

#play{
	margin-left: 24px;
	margin-right:24px;
}
#fave{
	margin-left: 24px;
}